.coin {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

.penny {
    background-color: burlywood;
    width: 25px;
    height: 25px;
}

.nickel {
    width: 5px;
    height: 45px;
}

.dime {
    width: 45px;
    height: 45px;
}

.quarter {
    width: 90px;
    height: 90px;
}

.bulb {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.on {
    background-color: yellow;
}